html, body {
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container, .container-fluid {
    background-color: transparent;
}

header {
    position: sticky;
    top: 0;
    z-index: 1100;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 15px 0;
    margin: 0;
}

.navbar {
    position: sticky;
    z-index: 700;
    background-color: #ab0d0d;
    margin-bottom: 10px;
    padding: 0.5rem 0.5rem;
}

.navbar .container-fluid {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand img {
    height: 70px;
    width: 70px;
    border-radius: 20%;
}

.nav-link {
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-bottom: 1px solid gray;
    transition: all 0.3s ease;
}

.nav-item {
    color: white;
}

.nav-link:hover {
    color: white;
    background: #28d4a5 !important;
    transform: translateX(5px);
}

.navbar-toggler {
    border: none;
    background: none;
    color: white;
}

@media (min-width: 992px) {
    .navbar-nav {
        justify-content: center;
        width: 100%;
        flex-direction: row;
    }
    .navbar-nav .nav-link {
        border: none;
        color: white !important;
        margin-left: 15px;
        padding: 8px 12px !important;
    }

    .collapse.navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 40px;
}

#carruselFotos {
    margin: 0 auto;
}

#carruselFotos .carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

#carruselFotos .carousel-caption h5 {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    text-align: center;
}

#carruselFotos .carousel-indicators {
    bottom: -30px;
}

#carruselFotos .carousel-control-prev,
#carruselFotos .carousel-control-next {
    width: 5%;
}

@media (max-width: 576px) {
    #carruselFotos {
        max-width: 95%;
    }
    #carruselFotos .carousel-caption h5 {
        font-size: 0.8rem;
        padding: 3px 6px;
    }
}
